[submodule "catkin_point_lio_unilidar/src/point_lio_ros2"]
	path = catkin_point_lio_unilidar/src/point_lio_ros2
	url = https://github.com/dfloreaa/point_lio_ros2.git
[submodule "ws_livox/src/livox_ros_driver2"]
	path = ws_livox/src/livox_ros_driver2
	url = https://github.com/Livox-SDK/livox_ros_driver2.git
